.header {
    position: fixed;
    background-color: white;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 20;
    border-bottom: 3px solid pink;
}

.header-container {
    width: 1140px;
    height: 100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
}

.header__menu-max a:hover {
    padding: 10px 15px;
    color: #111111;
    font-weight: bold;
    border-radius: 3px;
    border: 3px solid black;
    box-shadow: -3px 3px 0px 1px pink;
}

.header__menu-max li {
    display: inline-block;
    margin-left: 30px;
}

.header__menu-min li {
    margin: 15px;
}

.header-logo {
    display: block;
    width: 70px;
    margin: 15px;
}


.header__menu-min img {
    display: inline-block;
    width: 35px;
    box-shadow: -3px 3px 0px 1px pink;
}

.header__menu-min {
    display: none;
}

@media screen and (max-width: 1200px) {
    .header-container {
        width: 960px;
    }
}

@media screen and (max-width: 992px) {
    .header-container {
        width: 720px;
        height: 80px;
        flex-direction: column;
        justify-content: center;
        background: url(../images/nica-logo-joy.svg) no-repeat 10px 10px;
    }

    .header-logo {
        display: none;
    }
    
    .header__menu-max {
        display: none;
    }

    .header__menu-min {
        display: flex;
    }
}

@media screen and (max-width: 768px) {
    .header-container {
        width: 540px;
    }
}

@media screen and (max-width: 576px) {
    .header-container {
        width: 100%;
    }
}