.header {
    position: fixed;
    background-color: white;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 20;
    border-bottom: 3px solid pink;
}
.header-img {
    display: block;
    width: 70px;
    margin-top: -70px;
}
.header-container {
    width: 1170px;
    height: 100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
}

.header__menu-max a:hover {
    padding: 10px 15px;
    color: #111111;
    font-weight: bold;
    border-radius: 3px;
    border: 3px solid black;
    box-shadow: -3px 3px 0px 1px pink;
}

.header__menu-max li {
    display: inline-block;
    margin-left: 30px;
}

.header__menu-min li {
    margin-left: 30px;
}

.header__logo {
    color: #111111;
    font-weight: bold;
}


.header__menu-min img {
    display: inline-block;
    width: 35px;
    box-shadow: -3px 3px 0px 1px pink;
}

.header__menu-min {
    display: none;
}

@media screen and (max-width: 1300px) {
    .header {
        width: 80%;
    }
}

@media screen and (max-width: 900px) {
    .header__menu-max {
        display: none;
    }
    .header__menu-min {
        display: flex;
    }
    .header {
        flex-direction: column;
        justify-content: center;
        padding-top: 60px;
    }
    .header__menu-min li {
        margin: 15px;
    }
}