body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    background: white;
    font-family: 'Roboto', sans-serif;
}

a {
    color: #7C7676;
    transition: all linear 0.2s;
}













