@import "../css/reset.css";
@import "../css/header.css";
@import "../css/primary.css";
@import "../css/primaryAboutMe.css";
@import "../css/primaryMyWork.css";
@import "../css/card.css";
@import "../css/footer.css";

/* greylight - #7B7575
yellow - #FDDB29
greydark - #7C7676 
bg - #E5E5E5
black - #111111  */

body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: rgb(238,174,202);
    background: linear-gradient(6deg, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}

a {
    color: #7C7676;
}

.header__menu li,
.footer__menu li {
    font-size: 14px;
    display: inline;
    margin-left: 30px;
}












