.my-work {
    margin-top: 30px;
    text-align: center;
}

.my-work-header__name {
    font-size: 100px;
    font-weight: bold;
    color: pink;
}
.my-work-header__subname {
    font-size: 40px;
    color: #111111;
    margin-bottom: 30px;
}
.menu-search {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.menu-search li {
    margin: 10px;
}
.select-search__wrap li[data-active=false] {
    display: none;
}
.select-search__wrap li[data-active=true] {
}


.menu-search li a {
    padding: 15px;
    color: grey;
}

.menu-search li:first-child a {
    color: pink;
    font-weight: bold;
}
.menu-search li a:hover {
    color: black;
}

.my-work-header__menu li {
    display: inline;
    margin-left: 30px;
}

.my-work-container {
    width: 100%;
    margin-top: 30px;
    padding-bottom: 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

@media screen and (max-width: 768px) {
    .my-work-header__name {
        font-size: 70px;
    }
    .my-work-header__subname {
        font-size: 30px;
    }
} 

@media screen and (max-width: 576px) {
    .my-work-header__name {
        font-size: 36px;
    }
    .my-work-header__subname {
        font-size: 18px;
    }

    .menu-search {
        flex-direction: column;
    }

    .menu-search li a {
        font-size: 14px;
    }
}


