.my-work {
    display: flex;
    flex-direction: column;
    justify-content: center;

    margin-top: 30px;
    text-align: center;
}

.my-work-header__name {
    color: pink;
    font-size: 100px;
    font-weight: bold;
}

.my-work-header__subname {
    margin-bottom: 30px;
    color: #111111;
    font-size: 40px;
}

.select-search {
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 250px;
    height: 40px;
    margin: 0 auto;
}

.select-search__wrap {
    position: absolute;
    top: 50px;
    z-index: 40;

    width: 250px;
}

.select-search__openButton {
    width: 250px;
    height: 50px;
    padding: 10px 15px;

    font-weight: bold;
    background-color: transparent;
    color: #111111;
    border: 3px solid #111111;
    border-radius: 3px;

    outline: transparent;
    box-shadow: -3px 3px 0px 1px pink;
    cursor: pointer;
}

.select-search__openButton:hover {
    box-shadow: -3px 3px 0px 1px grey;
}

.select-search__wrap li {
    display: none;
    padding: 10px;

    background-color: pink;
    border-bottom: 1px solid grey;

    cursor: pointer;
}

.select-search__wrap li:hover {
    background-color: white;
}

.my-work-header__menu li {
    display: inline;
    margin-left: 30px;
}

.my-work-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
    width: 100%;
    margin-top: 30px;
    padding-bottom: 60px;
}

@media screen and (max-width: 768px) {
    .my-work-header__name {
        font-size: 70px;
    }
    .my-work-header__subname {
        font-size: 30px;
    }
} 

@media screen and (max-width: 576px) {
    .my-work-header__name {
        font-size: 36px;
    }
    .my-work-header__subname {
        font-size: 18px;
    }
}


