.about-me {
    padding: 30px;
    border: 3px solid #111111;
    border-radius: 3px;
    color: #111111;
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
}
.about-me__wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.about-me__wrap_name {
    width: 30%;
}

.about-me__wrap_about {
    width: 40%;
}

.about-me__wrap_menu {
    width: 20%;
}
.about-me__hello {
    margin: 20px 0px;
}
.about-me__name {
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}

.about-me__fotome {
    display: block;
    max-width: 100%;
    margin-bottom: 20px;
}

.about-me__buttonClose {
    font-size: 14px;
    font-weight: bold;
    border: 3px solid #111111;
    border-radius: 3px;
    background-color: white;
    padding: 10px 15px;
    box-shadow: -3px 3px 0px 1px pink;
}

.about-me__menu {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
}

.about-me__menu li {
    display: inline;
}

.about-me__menu img {
    display: block;
    width: 35px;
    box-shadow: -3px 3px 0px 1px pink;
}
.about p {
    font-size: 24px;
    color: pink;
}
.about p,
.about li span {
    font-weight: bold;
}
.about li {
    color: grey;
}
.about li span {
    color: #111111;
}