.primary {
    width: 100%;
    padding-top: 100px;
}

.primary-container {
    width: 1170px;
    margin: 0 auto;
}


@media screen and (max-width: 1300px) {
    .primary {
        width: 80%;
    }
}

@media screen and (max-width: 900px) {
    .primary {
    }
}

@media screen and (max-width: 840px) {
    .primary {
    }
}

@media screen and (max-width: 700px) {
    .primary {
    }
}

@media screen and (max-width: 450px) {
    .primary {
    }
}
