.my-work {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.my-work-header__name {
    font-size: 100px;
    font-weight: bold;
    color: pink;
}
.my-work-header__subname {
    font-size: 40px;
    color: #111111;
    margin-bottom: 30px;
}
.select-search {
    width: 250px;
    margin: 0 auto;
    height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}
.select-search__wrap {
    width: 250px;
    top: 50px;
    position: absolute;
    z-index: 40;
}


.select-search__openButton {
    color: #111111;
    cursor: pointer;
    padding: 10px 15px;
    font-weight: bold;
    background-color: transparent;
    outline: transparent;
    width: 250px;
    border: 3px solid #111111;
    border-radius: 3px;
    box-shadow: -3px 3px 0px 1px pink;
}
.select-search__openButton:hover {
    box-shadow: -3px 3px 0px 1px grey;
}
.select-search__wrap li {
    padding: 10px;
    background-color: pink;
    display: none;
    border-bottom: 1px solid grey;
}

.select-search__wrap li:hover {
    background-color: white;
}

.my-work-header__menu li {
    display: inline;
    margin-left: 30px;
}

.my-work-container {
    width: 100%;
    margin-top: 30px;
    padding-bottom: 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

@media screen and (max-width: 768px) {
    .my-work-header__name {
        font-size: 70px;
    }
    .my-work-header__subname {
        font-size: 30px;
    }
} 

@media screen and (max-width: 576px) {
    .my-work-header__name {
        font-size: 36px;
    }
    .my-work-header__subname {
        font-size: 18px;
    }
}


