.slider {
    position: relative;
    display: none;
    border-radius: 15px;
    box-shadow: 0 0 15px 1px rgb(209, 209, 209);
}

.slider__leftButton,
.slider__rightButton {
    position: absolute;
    bottom: 0;
    z-index: 20;

    padding: 15px;

    background-color: transparent;
    color: grey;
    border: none;
    font-size: 36px;
    font-weight: bold;

    outline: none;
    cursor: pointer;
}

.slider__leftButton {
    left: 0;
}

.slider__rightButton {
    right: 0;
}

.slider__leftButton:hover,
.slider__rightButton:hover {
    color: pink;
}

.slider__wrap {
    display: flex;
    width: 256px;
    overflow: hidden;
}

.slider .card  {
    margin: 0;
}
